h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    position: relative;
    width: 100%;
    max-width: 350px;
    height: 400px;
    margin-bottom: 40px;
    border-radius: 10px;
    overflow: hidden;
}

.card:hover .overlay {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: opacity 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.overlay h2 {
    color: #fff;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.overlay a {
    color: #fff;
    background-color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    transition: background-color 0.3s ease-in-out;
}

.overlay a:hover {
    background-color: #0056b3;
}

@media (min-width: 768px) {
    .row {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-gap: 40px;
        justify-items: center;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .card {
        height: 450px;
    }
}